
/*
 * ==============================================
 * Dot Typing
 * ==============================================
 */
.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;

  border-radius: 5px;
  background-color: #818181;
  color: #818181;
  box-shadow: 9984px 0 0 0 #818181, 9999px 0 0 0 #818181, 10014px 0 0 0 #818181;
  animation: dotTyping 1.5s infinite linear;

}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #818181, 9999px 0 0 0 #818181, 10014px 0 0 0 #818181;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #818181, 9999px 0 0 0 #818181, 10014px 0 0 0 #818181;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #818181, 9999px 0 0 0 #818181, 10014px 0 0 0 #818181;
  }
  50% {
    box-shadow: 9984px 0 0 0 #818181, 9999px -10px 0 0 #818181, 10014px 0 0 0 #818181;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #818181, 9999px 0 0 0 #818181, 10014px 0 0 0 #818181;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #818181, 9999px 0 0 0 #818181, 10014px -10px 0 0 #818181;
  }
  100% {
    box-shadow: 9984px 0 0 0 #818181, 9999px 0 0 0 #818181, 10014px 0 0 0 #818181;
  }
}
